{
  "sgarenaquest" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Nanotrasen Arena",
    "message" : "\n\nReady to fight in the arena? \n^red;You'll want to have strong equipment for this.",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/objects/questgivers/arenaman/sgarenamanicon.png"} ]
    },
    "labels" : {
      "name" : "Arena Fan"
    }
  },

  "sgarenaquesttoy" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Dart Quest Arena",
    "message" : "\n\nReady to fight in the arena?",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/objects/sgtoyshop/questicon.png"} ]
    },
    "labels" : {
      "name" : "Dart Quest"
    }
  }
  
}
