{
  "weapondesignermission" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Ready to warp?",
    "message" : "\n\nAre you ready to teleport to the mission destination?\n^red;You'll want to have powerful equipment for this. [This mission is big so it can also take a while to load when warping.]",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/objects/questgivers/sgweaponsdesigner/sgweaponsdesignerportrait.png"} ]
    },
    "labels" : {
      "name" : "Ryan"
    }
  }
}
