{
  "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
  "icon" : "/interface/confirmation/confirmationicon.png",
  "title" : "Expand Your Crew",
  "subtitle" : "Hire a Shellguard Mercenary!",
  "message" : "Hire <name> to join your crew for ^yellow;1 Dubloon^white;?^gray;\n\n^white;Job:^gray; <role>\n^white;Rank:^gray; <rank>\n^white;Status:^gray; <status>",
  "okCaption" : "Hire",
  "cancelCaption" : "Not now",
  "images" : {
    "portrait" : []
  }
}
