{
  "shellufoquest" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Prototype Problems",
    "message" : "\n\nAre you ready to head up the mountain?\n^red;You'll want to have powerful equipment for this. [This mission is big so it can also take a while to load when warping.]",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/objects/questgivers/Androsicon.png"} ]
    },
    "labels" : {
      "name" : "Andros"
    }
  },
  
  "sgfortressassult" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Assault the Fortress!",
    "message" : "\n\nBegin the assault on the Fortress? \n^red;This mission has the length of 3 missions back to back. Be ready.",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/objects/questgivers/Androsicon.png"} ]
    },
    "labels" : {
      "name" : "Fortress"
    }
  },
  
  "trainingcourse" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Training Course",
    "message" : "\n\nAre you ready for training?",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/objects/questgivers/atmos/iconportrait.png"} ]
    },
    "labels" : {
      "name" : "Peter Atmos"
    }
  },
  
  "sgtrainattack" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Train Attack!",
    "message" : "\n\nReady to get our guns back?\n^red;This is a one time mission.",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/objects/claireshop/iconportrait.png"} ]
    },
    "labels" : {
      "name" : "Claire Gough"
    }
  },
 
  "sgmercmission" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Mercenary Misson",
    "message" : "\n\nAre you ready to go to the mission area?\n^red;You'll want to have high tier equipment for this",
    "cancelCaption" : "Not now",
    "images" : {
      "portrait" : [ {"image" : "/objects/questgivers/Androsicon.png"} ]
    },
    "labels" : {
      "name" : "Andros"
    }
  }
}
