{
  "action" : "actions",
  "list" : [
    {
      "action" : "spark"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/shellbulletimpact.ogg" ]
    },
	{
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "smoke"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/fire_out.ogg" ]
    },
    {
      "action" : "light",
      "color" : "red"
    }

  ]
    {
      "action" : "explosion",
      "foregroundRadius" : 1,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 20.0,
      "delaySteps" : 2
    }
  ]
}
