{
  "canBookmark" : false,
  "includePartyMembers" : false,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Go to the Shellguard outpost.",
      "planetName" : "Go to the Shellguard outpost",
      "warpAction" : "InstanceWorld:shellguardbase",
      "icon" : "shellguardbase"
    }
  ]
}
