{
  "canBookmark" : true,
  "bookmarkName" : "Arena Teleporter",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : true,
  "destinations" : [
    {
      "name" : "Beam to Ship",
      "planetName" : "",
      "warpAction" : "OwnShip",
      "icon" : "beamup"
    },
    {
      "name" : "Arena Fight 1",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgarena1",
      "prerequisiteQuest" : "sgarenaquest1",
      "icon" : "default"
    },
    {
      "name" : "Arena Fight 2",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgarena2",
      "prerequisiteQuest" : "sgarenaquest2",
      "icon" : "default"
    },
    {
      "name" : "Arena Fight 3",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgarena3",
      "prerequisiteQuest" : "sgarenaquest3",
      "icon" : "default"
    },
    {
      "name" : "Arena Fight 4",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgarena4",
      "prerequisiteQuest" : "sgarenaquest4",
      "icon" : "default"
    },
    {
      "name" : "Arena Fight 5",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgarena5",
      "prerequisiteQuest" : "sgarenaquest5",
      "icon" : "default"
    }
  ]
}
