{
  "canBookmark" : false,
  "includePartyMembers" : false,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Test a new transport method.",
      "planetName" : "Challenge Level",
      "warpAction" : "InstanceWorld:sgelevatorsurvival",
      "icon" : "shellguardbase"
    }
  ]
}
