{
  "canBookmark" : false,
  "includePartyMembers" : false,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Flight Platform",
      "planetName" : "Teleport to the flight platform?",
      "warpAction" : "InstanceWorld:sgflighttest",
      "icon" : "shellguardbase"
    }
  ]
}
