{
  "canBookmark" : false,
  "includePartyMembers" : false,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Core Teleport",
      "planetName" : "Teleport further inside?",
      "warpAction" : "InstanceWorld:sgfortressbossroom",
      "icon" : "shellguardbase"
    }
  ]
}
