{
  "canBookmark" : true,
  "bookmarkName" : "Shellguard Outpost",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : true,
  "destinations" : [
    {
      "name" : "Beam to Ship",
      "planetName" : "",
      "warpAction" : "OwnShip",
      "icon" : "beamup"
    },
    {
      "name" : "Mercenary Mission 1",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgmercmission1",
      "prerequisiteQuest" : "sgmercmission1",
      "icon" : "default"
    }
  ]
}
