{
  "canBookmark" : true,
  "bookmarkName" : "Shellguard Outpost",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : true,
  "destinations" : [
    {
      "name" : "Beam to Ship",
      "planetName" : "",
      "warpAction" : "OwnShip",
      "icon" : "beamup"
    },
    {
      "name" : "Vehicle Rescue",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgvehicletutorial",
      "prerequisiteQuest" : "sgvehicletutorial",
      "icon" : "default"
    },
    {
      "name" : "Mercenary Mission 1",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgmercmission1",
      "prerequisiteQuest" : "sgmercmission1",
      "icon" : "default"
    },
    {
      "name" : "Mercenary Mission 2",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgmercmission2",
      "prerequisiteQuest" : "sgmercmission2",
      "icon" : "default"
    },
    {
      "name" : "Prototype Problems.",
      "planetName" : "",
      "warpAction" : "InstanceWorld:Shellguardufomission",
      "prerequisiteQuest" : "shellufoquest",
      "icon" : "default"
    },
    {
      "name" : "Mercenary Mission 3",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgmercmission3",
      "prerequisiteQuest" : "sgmercmission3",
      "icon" : "default"
    },
    {
      "name" : "Medical Mystery",
      "planetName" : "",
      "warpAction" : "InstanceWorld:survivormission",
      "prerequisiteQuest" : "sgsurvivormission",
      "icon" : "default"
    },
    {
      "name" : "Colony Attack",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgcolonyattack1",
      "prerequisiteQuest" : "sgcolonyattack1",
      "icon" : "default"
    },
    {
      "name" : "Factory Investigation",
      "planetName" : "",
      "warpAction" : "InstanceWorld:shellguardspiderfactory",
      "prerequisiteQuest" : "sgspiderfactorymission",
      "icon" : "default"
    },
    {
      "name" : "Weapons Facility",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgweaponsfacility",
      "prerequisiteQuest" : "sgweaponfacilitymission",
      "icon" : "default"
    }
  ]
}
