{
  "canBookmark" : true,
  "bookmarkName" : "Shellguard Outpost",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : true,
  "destinations" : [
    {
      "name" : "Beam to Ship",
      "planetName" : "",
      "warpAction" : "OwnShip",
      "icon" : "beamup"
    },
    {
      "name" : "^green;Vehicle Rescue",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgvehicletutorial",
      "prerequisiteQuest" : "sgvehicletutorial",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Mercenary Mission 1",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgmercmission1",
      "prerequisiteQuest" : "sgmercmission1",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Mercenary Mission 2",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgmercmission2",
      "prerequisiteQuest" : "sgmercmission2",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Prototype Problems.",
      "planetName" : "",
      "warpAction" : "InstanceWorld:Shellguardufomission",
      "prerequisiteQuest" : "shellufoquest",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Mercenary Mission 3",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgmercmission3",
      "prerequisiteQuest" : "sgmercmission3",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Medical Mystery",
      "planetName" : "",
      "warpAction" : "InstanceWorld:survivormission",
      "prerequisiteQuest" : "sgsurvivormission",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Colony Attack",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgcolonyattack1",
      "prerequisiteQuest" : "sgcolonyattack1",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Factory Investigation",
      "planetName" : "",
      "warpAction" : "InstanceWorld:shellguardspiderfactory",
      "prerequisiteQuest" : "sgspiderfactorymission",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Weapons Facility",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgweaponsfacility",
      "prerequisiteQuest" : "sgweaponfacilitymission",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Fortress Assault",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgfactoryspaceapproach",
      "prerequisiteQuest" : "sgfortressassault",
      "icon" : "shellguardbase"
    },
	
    {
      "name" : "^green;Find The Survivor",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgwreckage",
      "prerequisiteQuest" : "sgwreckagemission",
      "icon" : "shellguardbase"
    },

    {
      "name" : "^green;Destroy the Siegebreaker",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgbossmine",
      "prerequisiteQuest" : "sgsiegebreakermission",
      "icon" : "shellguardbase"
    },
	
    {
      "name" : "^green;Missing Person: 1",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgscrapyard",
      "prerequisiteQuest" : "sgdadchase1",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Missing Person: 2",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sggassky",
      "prerequisiteQuest" : "sgdadchase2",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Missing Person: 3",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgmine",
      "prerequisiteQuest" : "sgdadchase3",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Rescue Mission",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgskyattack",
      "prerequisiteQuest" : "sgdadchase5",
      "icon" : "shellguardbase"
    },
	
//------------ ironwatch ----------	

    {
      "name" : "^green;Defeat the Miniknog",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgironwatchspace",
      "prerequisiteQuest" : "sgironwatchspacemission",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Rail Defense",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgelevatorsurvival2",
      "prerequisiteQuest" : "sgelevatorsurvival2",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Ocean Base",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgoceanattack1",
      "prerequisiteQuest" : "sgoceanattack1",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Crab Calamity",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgoceanattack2",
      "prerequisiteQuest" : "sgoceanattack2",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Medium Mayhem",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgapexboss",
      "prerequisiteQuest" : "sgapexboss1",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Medium Mayhem 2",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgapexboss2",
      "prerequisiteQuest" : "sgapexboss2",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Strange Request",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgstrangermission",
      "prerequisiteQuest" : "sgstrangermission",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Fight Chomby",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgchomperboss",
      "prerequisiteQuest" : "sgchombymission",
      "icon" : "shellguardbase"
    }
  ]
}
