{
  "canBookmark" : false,
  "includePartyMembers" : false,
  "includePlayerBookmarks" : false,
  "destinations" : [
    {
      "name" : "Fight the Survivor.",
      "planetName" : "Boss Rematch",
      "warpAction" : "InstanceWorld:sgwreckagebossroomrematch",
      "icon" : "shellguardbase"
    }
  ]
}
