{
  "canBookmark" : true,
  "bookmarkName" : "Shellguard Outpost",
  "includePartyMembers" : true,
  "includePlayerBookmarks" : true,
  "destinations" : [
    {
      "name" : "Beam to Ship",
      "planetName" : "",
      "warpAction" : "OwnShip",
      "icon" : "beamup"
    },
    {
      "name" : "^green;Dart Quest",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgarenatoyempty",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Dart Quest 1",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgarenatoy1",
      "prerequisiteQuest" : "sgtoyarena1",
      "icon" : "shellguardbase"
    },
    {
      "name" : "^green;Dart Quest 2",
      "planetName" : "",
      "warpAction" : "InstanceWorld:sgarenatoy2",
      "prerequisiteQuest" : "sgtoyarena2",
      "icon" : "shellguardbase"
    }
  ]
}
