{
  "openWithInventory" : true,

  "gui" : {
    "background" : {
      "zlevel" : -1,
      "type" : "background",
      "fileHeader" : "/interface/scripted/sgspidermechstation/header.png",
      "fileBody" : "/interface/scripted/sgspidermechstation/body.png",
      "fileFooter" : "/interface/scripted/sgspidermechstation/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "  C.R.A.B. Assembly Station",
      "subtitle" : "  ^#b9b5b2;Assemble your personal C.R.A.B.",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/sgspidermechstation/icon.png",
        "zlevel" : -1
      }
    },

    "partSelectionGroup" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "baseImage" : "/interface/scripted/sgspidermechstation/techslot.png:base",
          "hoverImage" : "/interface/scripted/sgspidermechstation/techslot.png:hover",
          "baseImageChecked" : "/interface/scripted/sgspidermechstation/techslot.png:checked",
          "hoverImageChecked" : "/interface/scripted/sgspidermechstation/techslot.png:checked",
          "pressedOffset" : [0, 0],
          "position" : [84, 178],
          "data" : "chassis"
        },
        {
          "baseImage" : "/interface/scripted/sgspidermechstation/techslot.png:base",
          "hoverImage" : "/interface/scripted/sgspidermechstation/techslot.png:hover",
          "baseImageChecked" : "/interface/scripted/sgspidermechstation/techslot.png:checked",
          "hoverImageChecked" : "/interface/scripted/sgspidermechstation/techslot.png:checked",
          "pressedOffset" : [0, 0],
          "position" : [162, 127],
          "data" : "primaryGun"
        },
        {
          "baseImage" : "/interface/scripted/sgspidermechstation/techslot.png:base",
          "hoverImage" : "/interface/scripted/sgspidermechstation/techslot.png:hover",
          "baseImageChecked" : "/interface/scripted/sgspidermechstation/techslot.png:checked",
          "hoverImageChecked" : "/interface/scripted/sgspidermechstation/techslot.png:checked",
          "pressedOffset" : [0, 0],
          "position" : [162, 90],
          "data" : "legs"
        },
        {
          "baseImage" : "/interface/scripted/sgspidermechstation/techslot.png:base",
          "hoverImage" : "/interface/scripted/sgspidermechstation/techslot.png:hover",
          "baseImageChecked" : "/interface/scripted/sgspidermechstation/techslot.png:checked",
          "hoverImageChecked" : "/interface/scripted/sgspidermechstation/techslot.png:checked",
          "pressedOffset" : [0, 0],
          "position" : [6, 127],
          "data" : "secondaryGun"
        },
        {
          "baseImage" : "/interface/scripted/sgspidermechstation/techslot.png:base",
          "hoverImage" : "/interface/scripted/sgspidermechstation/techslot.png:hover",
          "baseImageChecked" : "/interface/scripted/sgspidermechstation/techslot.png:checked",
          "hoverImageChecked" : "/interface/scripted/sgspidermechstation/techslot.png:checked",
          "pressedOffset" : [0, 0],
          "position" : [6, 90],
          "data" : "boosters"
        }
      ]
    },

    "lblSlot" : {
      "type" : "label",
      "position" : [203, 205],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "value" : ""
    },

    "partScrollArea" : {
      "type" : "scrollArea",
      "rect" : [201, 90, 329, 204],
      "children" : {
        "partList" : {
          "type" : "list",
          "callback" : "partSelected",
          "schema" : {
            "selectedBG" : "/interface/scripted/sgspidermechstation/listitem.png:active",
            "hoverBG" : "/interface/scripted/sgspidermechstation/listitem.png:hover",
            "unselectedBG" : "/interface/scripted/sgspidermechstation/listitem.png:inactive",
            "disabledBG" : "/interface/scripted/sgspidermechstation/listitem.png:disabled",
            "spacing" : [0, 2],
            "memberSize" : [119, 22],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/sgspidermechstation/listitem.png:inactive",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "partName" : {
                "type" : "label",
                "position" : [25, 6],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "partIcon" : {
                "type" : "image",
                "position" : [10, 11],
                "centered" : true,
                "callback" : "null"
              }
            }
          }
        }
      }
    },


    "lblSlot_Spawner" : {
      "type" : "label",
      "zlevel" : 2,
      "position" : [69, 56],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : "INSERT KEY"
    },
    "itemSlot_Spawner" : {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [59, 34],
      "backingImage" : "/interface/inventory/backingimageacc.png",
      "callback" : "swapItem",
      "rightClickCallback" : "null"
    },

    "btnConstruct" : {
      "type" : "button",
      "base" : "/interface/scripted/sgspidermechstation/construct_button.png",
      "hover" : "/interface/scripted/sgspidermechstation/construct_button.png",
      "pressed" : "/interface/scripted/sgspidermechstation/construct_button.png",
      "disabledImage" : "/interface/scripted/sgspidermechstation/construct_button_disabled.png",
      "pressedOffset" : [0, 0],
      "position" : [193, 38],
      "callback" : "doConstruct"
    },
	
    "lblStatus" : {
      "type" : "label",
      "zlevel" : 2,
      "position" : [167, 75],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : ""
    },

    "cvsPreview" : {
      "type" : "canvas",
      "rect" : [24, 92, 171, 181],
      "zlevel" : 1,
      "captureMouseEvents" : false,
      "captureKeyboardEvents" : false
    },

    "lblPrimaryColor" : {
      "type" : "label",
      "zlevel" : 2,
      "position" : [93, 53],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : "Colour 1"
    },
    "lblSecondaryColor" : {
      "type" : "label",
      "zlevel" : 2,
      "position" : [93, 40],
      "hAnchor" : "left",
      "vAnchor" : "mid",
      "value" : "Colour 2"
    },

    "btnPrevPrimaryColor" : {
      "type" : "button",
      "base" : "/interface/scripted/mechassembly/pickleft.png",
      "hover" : "/interface/scripted/mechassembly/pickleftover.png",
      "zlevel" : 3,
      "position" : [128, 49],
      "caption" : "",
      "callback" : "prevPrimaryColor"
    },
    "btnNextPrimaryColor" : {
      "type" : "button",
      "base" : "/interface/scripted/mechassembly/pickright.png",
      "hover" : "/interface/scripted/mechassembly/pickrightover.png",
      "zlevel" : 3,
      "position" : [159, 49],
      "caption" : "",
      "callback" : "nextPrimaryColor"
    },

    "btnPrevSecondaryColor" : {
      "type" : "button",
      "base" : "/interface/scripted/mechassembly/pickleft.png",
      "hover" : "/interface/scripted/mechassembly/pickleftover.png",
      "zlevel" : 3,
      "position" : [128, 36],
      "caption" : "",
      "callback" : "prevSecondaryColor"
    },
    "btnNextSecondaryColor" : {
      "type" : "button",
      "base" : "/interface/scripted/mechassembly/pickright.png",
      "hover" : "/interface/scripted/mechassembly/pickrightover.png",
      "zlevel" : 3,
      "position" : [159, 36],
      "caption" : "",
      "callback" : "nextSecondaryColor"
    },

    "imgPrimaryColorPreview" : {
      "type" : "image",
      "file" : "/interface/scripted/mechassembly/paintbar_default.png",
      "zlevel" : 3,
      "position" : [138, 49]
    },
    "imgSecondaryColorPreview" : {
      "type" : "image",
      "file" : "/interface/scripted/mechassembly/paintbar_default.png",
      "zlevel" : 3,
      "position" : [138, 36]
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "callback" : "close",
      "position" : [322, 228]
    }
  },

  "scriptWidgetCallbacks" : [
    "swapItem",
    "nextPrimaryColor",
    "prevPrimaryColor",
    "nextSecondaryColor",
    "prevSecondaryColor",
    "partSelectionGroup",
	"partSelected",
    "doConstruct"
  ],

  "scripts" : ["/interface/scripted/sgspidermechstation/sgspidermechstation.lua"],
  "scriptDelta" : 1,

  "imageBasePath" : "/interface/scripted/sgspidermechstation/",

  "completeText" : "^red;Construction Ready",
  
  "partTypeSelectedLabel" : {
    "primaryGun" : "PRIMARY GUN",
	"secondaryGun" : "SECONDARY GUN",
	"legs" : "LEGS",
	"chassis" : "CHASSIS",
	"boosters" : "BOOSTERS"
  },

  "energyFormat" : "Energy: %d MJ",
  "drainFormat" : "Usage: %.02f MJ/s"
}
