{
  "divider" : "-",
  "barrel" : {
    "base" : "M",
    "short" : "S",
    "rapid" : "R",
    "antimateriel" : "AM",
    "null" : "SN"
  },
  
  "receiver" : {
    "base" : "R",
    "beam" : "B",
    "burst" : "BR",
    "beamburst" : "BB"
  },
  
  "stock" : {
    "base" : "S",
    "marksman" : "M",
    "rapid" : "R",
    "pistol" : "P"
  },
  
  "baseAddon" : {
    "reflek" : "R",
    "spread" : "S"
  },
  
  "underbarrelAddon" : {
    "bayonet" : "SB",
    "laser" : "LS",
    "flashlight" : "FL"
  }
}