{
// No need to copy over every single stat modifier, outside of receivers - most of them default to 1.

// Attachment points are offsets from the generated ones. The parts are still automatically shifted by the engine.

  "projectiles" : {
    "weak" : {
      "projectileType" : "shelllightbullet",
      "projectileParameters" : { 
        "knockback" : 6
      },
      "fireSfx" : [ "/sfx/gun/ShellpistolFire.ogg" ]
    },
    "medium" : {
      "projectileType" : "tempbullet",
      "projectileParameters" : { 
        "knockback" : 6
      },
      "fireSfx" : [ "/sfx/gun/ShellRifleFire.ogg" ]
    },
    "antimateriel" : {
      "projectileType" : "sgamshot",
      "projectileParameters" : { 
        "knockback" : 6
      },
      "fireSfx" : [ "/sfx/gun/sgsnniperfire.ogg" ]
    },
    
    "weakReflek" : {
      "projectileType" : "sgbounceshot",
      "projectileParameters" : { 
        "knockback" : 6
      },
      "fireSfx" : [ "/sfx/gun/reflekshot.ogg" ]
    },
    "mediumReflek" : {
      "projectileType" : "sgbounceshottrail",
      "projectileParameters" : { 
        "knockback" : 6
      },
      "fireSfx" : [ "/sfx/gun/reflekshot.ogg" ]
    }
  },
  
  "barrel" : {
    "null" : {
      "type" : "null",
      "baseStats" : {
        "projectileType" : "weak"
      },
      "modifiers" : {
        "baseDps" : 0.75,
        "inaccuracy" : 4.0
      }
    },
    "base" : {
      "baseStats" : {
        "projectileType" : "medium"
      },
      "modifiers" : {
        "inaccuracy" : 0.5
      }
    },
    "short" : {
      "baseStats" : {
        "projectileType" : "weak",
        "cooldownMult" : 0.75
      },
      "modifiers" : {
        "fireTime" : 0.5,
        "inaccuracy" : 1.0,
        "energyUsage" : 0.9
      }
    },
    "rapid" : {
      "baseStats" : {
        "projectileType" : "weak",
        "cooldownMult" : 0.5
      },
      "modifiers" : {
        "fireTime" : 0.16,
        "inaccuracy" : 2.0,
        "energyUsage" : 1.2,
        "burstTime" : 0.5
      }
    },
    "antimateriel" : {
      "type" : "antimateriel",
      "incompatibleWith" : [ "burst", "beamburst" ],
      "baseStats" : {
        "projectileType" : "antimateriel",
        "cooldownMult" : 3.0
      },
      "modifiers" : {
        "fireTime" : 2.0,
        "inaccuracy" : 0.5,
        "energyUsage" : 1.5,
        "baseDps" : 0.8
      },
      "attachmentPoints" : {
        "underbarrelAddon" : [-0.125, 0]
      }
    }
  },
  
  "receiver" : {
    "base" : {
      "baseStats" : {
        "scripts" : ["/items/active/weapons/ranged/gunfire.lua"],
        "class" : "GunFire",
        "baseDps" : 10.5,
        "fireTime" : 1.0,
        "inaccuracy" : 0.01,
        "projectileCount" : 1,
        "fireType" : "auto",
        "energyUsage" : 30
      },
      "attachmentPoints" : {
        "barrel" : [-0.25, 0],
        "baseAddonAlpha" : [-1, 0.5]
      },
      "addons" : 1
    },
    "beam" : {
      "type" : "beam",
      "incompatibleWith" : [ "projectile" ],
      "baseStats" : {
        "scripts" : ["/items/active/weapons/ranged/sg_built/abilities/heavybeam/heavybeam.lua"],
        "class" : "HeavyBeam",
        "baseDps" : 10.5,
        "fireTime" : 1.0,
        "inaccuracy" : 0.01,
        "projectileCount" : 1,
        "fireType" : "auto",
        "energyUsage" : 37.5,
        
        "damageConfig" : {
          "statusEffects" : [ ],
          "damageSourceKind" : "plasma",
          "knockback" : 0
        },
    
        "beamLength" : 48,
    
        "chain" : {
          "startOffset" : [0, 0],
          "segmentImage" : "/items/active/weapons/ranged/sg_built/abilities/heavybeam/beambody.png",
          "endSegmentImage" : "/items/active/weapons/ranged/sg_built/abilities/heavybeam/beamend.png",
          "segmentSize" : 0.48,
          "overdrawLength" : 0.2,
          "taper" : 0,
          "renderLayer" : "Projectile-1",
          "fullbright" : true
        },
        
        "weakChain" : {
          "startOffset" : [0, 0],
          "segmentImage" : "/items/active/weapons/ranged/sg_built/abilities/heavybeam/beamweakbody.png",
          "endSegmentImage" : "/items/active/weapons/ranged/sg_built/abilities/heavybeam/beamweakend.png",
          "segmentSize" : 0.48,
          "overdrawLength" : 0.2,
          "taper" : 0,
          "renderLayer" : "Projectile-1",
          "fullbright" : true
        }
      },
      "weaponMods" : {
        "animationScripts" : [
          "/items/active/effects/chain.lua"
        ]
      },
      "attachmentPoints" : {
        "barrel" : [-0.25, 0],
        "baseAddonAlpha" : [-1, 0.5]
      },
      "addons" : 1
    },
    
    
    "burst" : {
      "type" : "burst",
      "incompatibleWith" : [ "antimateriel" ],
      "baseStats" : {
        "scripts" : ["/items/active/weapons/ranged/gunfire.lua"],
        "class" : "GunFire",
        "baseDps" : 10.5,
        "fireTime" : 0.5,
        "inaccuracy" : 0.01,
        "projectileCount" : 1,
        "fireType" : "burst",
        "burstCount" : 3,
        "burstTime" : 0.11,
        "energyUsage" : 30
      },
      "attachmentPoints" : {
        "barrel" : [-0.25, 0],
        "baseAddonAlpha" : [-1, 0.5]
      },
      "addons" : 1
    },
    "beamburst" : {
      "type" : "beamburst",
      "incompatibleWith" : [ "projectile", "antimateriel" ],
      "baseStats" : {
        "scripts" : ["/items/active/weapons/ranged/sg_built/abilities/heavybeam/heavybeam.lua"],
        "class" : "HeavyBeam",
        "baseDps" : 10.5,
        "fireTime" : 0.5,
        "inaccuracy" : 0.01,
        "projectileCount" : 1,
        "fireType" : "burst",
        "burstCount" : 3,
        "burstTime" : 0.11,
        "energyUsage" : 37.5,
        
        "damageConfig" : {
          "statusEffects" : [ ],
          "damageSourceKind" : "plasma",
          "knockback" : 0
        },
    
        "beamLength" : 48,
    
        "chain" : {
          "startOffset" : [0, 0],
          "segmentImage" : "/items/active/weapons/ranged/sg_built/abilities/heavybeam/beambody.png",
          "endSegmentImage" : "/items/active/weapons/ranged/sg_built/abilities/heavybeam/beamend.png",
          "segmentSize" : 0.48,
          "overdrawLength" : 0.2,
          "taper" : 0,
          "renderLayer" : "Projectile-1",
          "fullbright" : true
        },
        
        "weakChain" : {
          "startOffset" : [0, 0],
          "segmentImage" : "/items/active/weapons/ranged/sg_built/abilities/heavybeam/beamweakbody.png",
          "endSegmentImage" : "/items/active/weapons/ranged/sg_built/abilities/heavybeam/beamweakend.png",
          "segmentSize" : 0.48,
          "overdrawLength" : 0.2,
          "taper" : 0,
          "renderLayer" : "Projectile-1",
          "fullbright" : true
        }
      },
      "weaponMods" : {
        "animationScripts" : [
          "/items/active/effects/chain.lua"
        ]
      },
      "attachmentPoints" : {
        "barrel" : [-0.25, 0],
        "baseAddonAlpha" : [-1, 0.5]
      },
      "addons" : 1
    }
  },
  
  "stock" : {
    "base" : {
      "type" : "twoHanded",
      "twoHanded" : true
    },
    "marksman" : {
      "type" : "twoHanded",
      "twoHanded" : true,
      "modifiers" : {
        "fireTime" : 1.25,
        "inaccuracy" : 0.5,
        "cooldownMult" : 0.8
      }
    },
    "rapid" : {
      "type" : "twoHanded",
      "twoHanded" : true,
      "modifiers" : {
        "fireTime" : 0.8,
        "inaccuracy" : 1.5,
        "cooldownMult" : 0.8
      }
    },
    
    "pistol" : {
      "type" : "oneHanded",
      "modifiers" : {
        "baseDps" : 0.7
      }
    }
  },
  
  "baseAddon" : {
    "reflek" : {
      "type" : "projectile",
      "incompatibleWith" : [ "projectile", "antimateriel", "antimaterielrapid", "beam", "beamburst" ],
      "modifiers" : {
        "baseDps" : 0.9,
        "energyUsage" : 1.25,
        "projectileType" : "Reflek"
      }
    },
    "spread" : {
      "modifiers" : {
        "baseDps" : 1.1,
        "energyUsage" : 1.25,
        "inaccuracy" : 3,
        "projectileCount" : 3
      }
    }
  },
  
  "underbarrelAddon" : {
    "bayonet" : {
      "type" : "alt",
      "incompatibleWith" : [ "alt", "oneHanded" ],
      "weaponMods" : {
        "altAbilityType" : "bayonetstab"
      },
      "attachmentPoints" : {
        "underbarrelAddon" : [0.125, 0],
        "underbarrelAddonBladeOffset" : [0, 0]
      }
    },
    "laser" : {
      "type" : "alt",
      "incompatibleWith" : [ "alt", "oneHanded", "beam", "beamburst" ],
      "weaponMods" : {
        "altAbilityType" : "sglasersight",
        "altAbility" : {
          "beams" : [
            {
              "offset" : [-0.125, -0.5],
              "color" : [255, 0, 0, 128],
              "length" : 60,
              "segments" : 6,
              "angle" : 0
            }
          ]
        }
      },
      "attachmentPoints" : {
        "underbarrelAddon" : [-0.25, 0]
      }
    },
    "flashlight" : {
      "type" : "alt",
      "incompatibleWith" : [ "alt", "oneHanded" ],
      "modifiers" : {
        "inaccuracy" : 0.9
      },
      "weaponMods" : {
        "altAbilityType" : "sgflashlight"
      },
      "attachmentPoints" : {
        "underbarrelAddon" : [-0.25, 0]
      }
    }
  }
}