{
  "projectiles" : {
    "antimaterielburst" : {
      "projectileType" : "sgamshot",
      "projectileParameters" : { 
        "knockback" : 6
      },
      "fireSfx" : [ "/sfx/gun/sgsnniperfireburst.ogg" ]
    },
    "homingneedle" : {
      "projectileType" : "sghominglaser",
      "projectileParameters" : { 
        "knockback" : 6
      },
      "fireSfx" : [ "/sfx/gun/Needle Lazer.ogg", "/sfx/gun/Needle Lazer2.ogg", "/sfx/gun/Needle Lazer3.ogg" ]
    },
    "shotbullet" : {
      "projectileType" : "shotbullet",
      "projectileParameters" : { 
        "knockback" : 6
      },
      "fireSfx" : [ "/sfx/gun/shellshotgunblast.ogg" ]
    },
    "supercooled" : {
      "projectileType" : "sgsupercooled",
      "projectileParameters" : { 
        "knockback" : 0
      },
      "fireSfx" : [ "/sfx/gun/shellshotgunblast.ogg" ]
    },
    "microrocket" : {
      "projectileType" : "sgmicrorocket",
      "projectileParameters" : { 
        "knockback" : 6
      },
      "fireSfx" : [ "/sfx/gun/fireworkgun_large1.ogg", "/sfx/gun/fireworkgun_large2.ogg" ]
    },
    "plasmite" : {
      "projectileType" : "sgplasmitegrenade",
      "projectileParameters" : { 
        "knockback" : 10
      },
      "fireSfx" : [ "/sfx/gun/plasmitecustom.ogg" ]
    },
    "flak" : {
      "projectileType" : "sgflakshrapnel",
      "projectileParameters" : { 
        "knockback" : 10
      },
      "fireSfx" : [ "/sfx/gun/plasmitecustom.ogg" ]
    }
  },
  
  "barrel" : {
    "antimaterielrapid" : {
      "type" : "antimaterielrapid",
      "baseStats" : {
        "projectileType" : "antimaterielburst",
        "cooldownMult" : 3.0
      },
      "modifiers" : {
        "fireTime" : 1.8,
        "inaccuracy" : 0.6,
        "energyUsage" : 1.5,
        "baseDps" : 0.8
      },
      "attachmentPoints" : {
        "underbarrelAddon" : [-0.125, 0]
      }
    },
    "microgattling" : {
      "baseStats" : {
        "projectileType" : "weak",
        "cooldownMult" : 0.5
      },
      "modifiers" : {
        "fireTime" : 0.1,
        "inaccuracy" : 2.5,
        "energyUsage" : 1.3,
        "burstTime" : 0.25
      },
      "attachmentPoints" : {
        "muzzle" : [0, -0.1875]
      }
    },
    "rapidalt" : {
      "baseStats" : {
        "projectileType" : "weak",
        "cooldownMult" : 0.5
      },
      "modifiers" : {
        "fireTime" : 0.16,
        "inaccuracy" : 2.0,
        "energyUsage" : 1.2,
        "burstTime" : 0.5
      }
    },
    "machinegun" : {
      "baseStats" : {
        "projectileType" : "medium",
        "cooldownMult" : 0.5
      },
      "modifiers" : {
        "fireTime" : 0.5,
        "inaccuracy" : 1.5,
        "energyUsage" : 0.8,
        "burstTime" : 0.8
      },
      "attachmentPoints" : {
        "barrel" : [-0.375, 0]
      }
    },
    "machinegunmk2" : {
      "baseStats" : {
        "projectileType" : "medium",
        "cooldownMult" : 0.5
      },
      "modifiers" : {
        "fireTime" : 0.35,
        "inaccuracy" : 1.6,
        "energyUsage" : 0.8,
        "burstTime" : 0.8
      },
      "attachmentPoints" : {
        "barrel" : [-0.375, 0]
      }
    },
    "machinegunmk2wood" : {
      "baseStats" : {
        "projectileType" : "medium",
        "cooldownMult" : 0.5
      },
      "modifiers" : {
        "fireTime" : 0.35,
        "inaccuracy" : 1.6,
        "energyUsage" : 0.8,
        "burstTime" : 0.8
      },
      "attachmentPoints" : {
        "barrel" : [-0.375, 0]
      }
    },
    "supercooledbarrel" : {
      "baseStats" : {
        "projectileType" : "supercooled",
        "cooldownMult" : 0.5
      },
      "modifiers" : {
        "fireTime" : 0.35,
        "inaccuracy" : 1.6,
        "energyUsage" : 1.2,
        "burstTime" : 1.5
      },
      "attachmentPoints" : {
        "barrel" : [-0.25, 0.125],
        "underbarrelAddon" : [0.125, -0.125]
      }
    },
    "shotgunbarrel" : {
      "baseStats" : {
        "projectileType" : "weak",
        "cooldownMult" : 1
      },
      "modifiers" : {
        "inaccuracy" : 2.0,
        "energyUsage" : 1.2,
        "baseDps" : 1.1,
        "projectileCount" : 3
      },
      "attachmentPoints" : {
        "underbarrelAddon" : [-0.125, 0]
      }
    },
    "shotgunbarrelshort" : {
      "baseStats" : {
        "projectileType" : "weak",
        "cooldownMult" : 0.5
      },
      "modifiers" : {
        "inaccuracy" : 2.5,
        "energyUsage" : 1.2,
        "baseDps" : 1.2,
        "projectileCount" : 4
      },
      "attachmentPoints" : {
        "underbarrelAddon" : [-0.125, 0]
      }
    },
    "microrocket" : {
      "type" : "projectile",
      "incompatibleWith" : [ "beam", "beamburst", "projectile" ],
      "baseStats" : {
        "projectileType" : "microrocket",
        "cooldownMult" : 1
      },
      "modifiers" : {
        "fireTime" : 1,
        "inaccuracy" : 1.1,
        "energyUsage" : 1.2
      },
      "attachmentPoints" : {
        "underbarrelAddon" : [-0.5, -0.25],
        "barrel" : [0.0, -0.125]
      }
    },
    "plasmitebarrel" : {
      "type" : "projectile",
      "incompatibleWith" : [ "beam", "beamburst", "burst", "projectile" ],
      "baseStats" : {
        "projectileType" : "plasmite",
        "cooldownMult" : 1
      },
      "modifiers" : {
        "fireTime" : 1.5,
        "inaccuracy" : 1.1,
        "energyUsage" : 2.0,
        "baseDps" : 0.8
      },
      "attachmentPoints" : {
        "underbarrelAddon" : [-1.0, -0.25],
        "barrel" : [0.0, 0.0],
        "muzzle" : [-0.25, -0.375]
      }
    },
    "flakbarrel" : {
      "type" : "projectile",
      "incompatibleWith" : [ "beam", "beamburst", "burst", "heavy", "projectile" ],
      "baseStats" : {
        "projectileType" : "flak",
        "cooldownMult" : 1
      },
      "modifiers" : {
        "fireTime" : 1.0,
        "inaccuracy" : 3,
        "energyUsage" : 1.5,
        "projectileCount" : 3,
        "baseDps" : 0.5
      },
      "attachmentPoints" : {
        "underbarrelAddon" : [-0.25, -0.125],
        "barrel" : [0.0, 0.],
        "muzzle" : [-0.25, -0.25]
      }
    },
    "homingbarrel" : {
      "type" : "projectile",
      "incompatibleWith" : [ "beam", "beamburst", "projectile" ],
      "baseStats" : {
        "projectileType" : "homingneedle",
        "cooldownMult" : 3.0
      },
      "modifiers" : {
        "fireTime" : 0.33,
        "inaccuracy" : 1.5,
        "energyUsage" : 1.5,
        "baseDps" : 0.8
      },
      "attachmentPoints" : {
        "underbarrelAddon" : [-0.125, 0]
      }
    }
  },
  
  "receiver" : {
  },
  
  "stock" : {
    "heavystock" : {
      "type" : "twoHanded",
      "twoHanded" : true,
      "modifiers" : {
        "energyUsage" : 1.25,
        "inaccuracy" : 0.5,
        "cooldownMult" : 0.8
      }
    },
    "sharpshooterpistol" : {
      "type" : "oneHanded",
      "modifiers" : {
        "baseDps" : 0.7,
        "inaccuracy" : 0.5,
        "fireTime" : 1.25,
        "cooldownMult" : 0.8
      }
    },
    "mareslegpistol" : {
      "type" : "oneHanded",
      "modifiers" : {
        "baseDps" : 0.7,
        "fireTime" : 0.8,
        "energyUsage" : 1.25,
        "cooldownMult" : 0.8
      }
    },
    "rapidpistol" : {
      "type" : "oneHanded",
      "modifiers" : {
        "baseDps" : 0.7,
        "inaccuracy" : 1.5,
        "fireTime" : 0.8,
        "cooldownMult" : 0.8
      }
    }
  },
  
  "baseAddon" : {
    "scope" : {
      "type" : "sight",
      "incompatibleWith" : [ "sight" ],
      "modifiers" : {
        "inaccuracy" : 0.8
      }
    },
    "advancedscope" : {
      "type" : "sight",
      "incompatibleWith" : [ "sight" ],
      "modifiers" : {
        "energyUsage" : 1.2,
        "inaccuracy" : 0.6
      }
    }
  },
  
  "underbarrelAddon" : {
    "spidermine" : {
      "type" : "alt",
      "incompatibleWith" : [ "alt", "oneHanded" ],
      "modifiers" : {
        "inaccuracy" : 1.2
      },
      "weaponMods" : {
        "altAbilityType" : "sgspiderburst"
      },
      "attachmentPoints" : {
        "underbarrelAddon" : [-0.375, 0]
      }
    },
    "foregriplongend" : {
      "type" : "altgrip",
      "incompatibleWith" : [],
      "modifiers" : {
        "inaccuracy" : 0.75
      },
      "attachmentPoints" : {
        "underbarrelAddon" : [-0.375, 0]
      }
    },
    "coolingjacket" : {
      "type" : "altgrip",
      "incompatibleWith" : [],
      "modifiers" : {
        "baseDps" : 1.2,
        "fireTime" : 0.8
      },
      "attachmentPoints" : {
        "underbarrelAddon" : [-0.5, 0]
      }
    },
    "grenadelauncher" : {
      "type" : "alt",
      "incompatibleWith" : [ "alt", "oneHanded" ],
      "modifiers" : {
        "inaccuracy" : 1.1
      },
      "weaponMods" : {
        "altAbilityType" : "sggrenadelauncher"
      },
      "attachmentPoints" : {
        "underbarrelAddon" : [-0.5, 0]
      }
    },
    "grenadelauncheralt" : {
      "type" : "alt",
      "incompatibleWith" : [ "alt", "oneHanded" ],
      "modifiers" : {
        "inaccuracy" : 1.1
      },
      "weaponMods" : {
        "altAbilityType" : "sggrenadelauncher"
      },
      "attachmentPoints" : {
        "underbarrelAddon" : [-0.5, 0]
      }
    },
    "cleavebayonet" : {
      "type" : "alt",
      "incompatibleWith" : [ "alt", "oneHanded" ],
      "weaponMods" : {
        "altAbilityType" : "bayonetcleavecustom"
      },
      "modifiers" : {
        "inaccuracy" : 1.2
      },
      "attachmentPoints" : {
        "underbarrelAddon" : [0.125, 0],
        "underbarrelAddonBladeOffset" : [0, 0]
      }
    }
  }
}